* {
  margin: 0;
  padding: 0;
  border: 0;

}

.background {
  background-image: url("img/musicBg.jpg");
  background-size: cover;
}

.background2 {
  background-image: url("img/snowBg.jpg");
  background-size: cover;
}

.papiro1 {
  background-image: url("img/papiro1.jpg");
  background-size: cover;
}

.papiro2 {
  background-image: url("img/papiro2.jpg");
  background-size: cover;
}
.papiro3 {
  background-image: url("img/papiro3.jpg");
  background-size: cover;
  
}

.win {
  background-image: url("img/win.jpg");
  background-size: cover;
  
}

.start {
  padding: 40px 80px;
  background-color: rgba(255, 207, 48, .99);
  display: block;
  margin: 20px auto 0;
  border: 1px solid rgba(190, 230, 255,.1);
  border-radius: 20px;
  background-image: linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,0));
  font-size: 2.5em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  letter-spacing: 2.5px;
}

.start:hover {
  background-color: rgb(90, 248, 195);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


.gender {
  text-align: center;
  display: inline-block;
  margin: 10 auto;
  margin-left: 33vw;
  width: 150px;
  
}

.genderLeft:hover {
  background-color: rgb(216, 70, 216);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.genderRight{
  margin:0;
  
}


.genderRight:hover {
  background-color: rgb(115, 219, 233);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


.inicio {
  display: block;
  color: white;
  font-size: 1.8em;
  font-weight: 800;
  text-align: center;
  margin: 30vh auto 0;
  padding: 10px 0;
  background-color: rgba(0,0,0,.65);
}


.reset {
  display: block;
  position: absolute;
  color: rgb(40,40,40);
  font-family: 'Architects Daughter', cursive;
  
  font-size: 3em;
  font-weight: 800;
  top: 60vh;
  left: 40vw;
  border: 1px solid white;
  border-radius: 10px;
  padding: 35px 70px;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.25)
}

.gameOver{
  top: 70vh;
  left: 44vw;
  padding: 25px 40px;

}

.hidden {
  display: none;
}

#timerDiv {
  position: absolute;
  text-align: center;
  margin: 98px;
  width: 300px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: black;
  background-color: rgba(158, 228, 228, 0.877)

}


#note1 {
  position: absolute;
  text-align: center;
  margin: 98px;
  width: 100px;
  left: 498px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: black;
  background-color: rgba(158, 228, 228, 0.877)

}


#note2 {
  position: absolute;
  text-align: center;
  margin: 98px;
  width: 100px;
  left: 598px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: black;
  background-color: rgba(158, 228, 228, 0.877)

}

#note3 {
  position: absolute;
  text-align: center;
  margin: 98px;
  width: 100px;
  left: 698px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: black;
  background-color: rgba(158, 228, 228, 0.877)

}
#note4 {
  position: absolute;
  text-align: center;
  margin: 98px;
  width: 100px;
  left: 798px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: black;
  background-color: rgba(158, 228, 228, 0.877)

}
#note5 {
  position: absolute;
  text-align: center;
  margin: 98px;
  width: 100px;
  left: 898px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: black;
  background-color: rgba(158, 228, 228, 0.877)

}


#note6 {
  position: absolute;
  text-align: center;
  margin: 98px;
  width: 100px;
  left: 998px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: black;
  background-color: rgba(158, 228, 228, 0.877)

}


#note7 {
  position: absolute;
  text-align: center;
  margin: 98px;
  width: 100px;
  left: 1098px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: black;
  background-color: rgba(158, 228, 228, 0.877)

}

.bestScore {
  height: 42px;
  position: absolute;
  text-align: center;
  margin: 98px;
  width: 300px;
  left: 1198px;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  color: black;
  background-color: rgba(158, 228, 228, 0.877)

}
